<div class="container">
    <div class="container">
        <h2 class="text-center p-4">TIN TỨC</h2> <hr>

        <div class="row p-3">
          <div class="col-md-4">
            <div class="zoom-effect-container">
              <img src="img/new.jpg" style="max-width: 400px;" class="zoom-effect">

            </div>
            <p class="text-secondary">12/11/2018</p>
            <a href="newsdetail.html"><h6>MÙA CƯỚI TỚI RỒI: HÃY ĐỂ GIÀY CỦA TÔI GIÚP BẠN TRỞ THÀNH MỘT CHÚ RỂ HOÀN HẢO NHẤT.</h6></a>
          </div>
          <div class="col-md-4">
            <div class="zoom-effect-container">
              <img src="img/new.jpg" style="max-width: 400px;" class="zoom-effect">

            </div>
            <p class="text-secondary">12/11/2018</p>
            <a href="" ><h6>MÙA CƯỚI TỚI RỒI: HÃY ĐỂ GIÀY CỦA TÔI GIÚP BẠN TRỞ THÀNH MỘT CHÚ RỂ HOÀN HẢO NHẤT.</h6></a>
          </div>
          <div class="col-md-4">
            <div class="zoom-effect-container">
              <img src="img/new.jpg" style="max-width: 400px;" class="zoom-effect">

            </div>
            <p class="text-secondary">12/11/2018</p>
            <a href=""><h6>MÙA CƯỚI TỚI RỒI: HÃY ĐỂ GIÀY CỦA TÔI GIÚP BẠN TRỞ THÀNH MỘT CHÚ RỂ HOÀN HẢO NHẤT.</h6></a>
          </div>
          <div class="col-md-4">
            <div class="zoom-effect-container">
              <img src="img/news.jpg" style="max-width: 400px;" class="zoom-effect">

            </div>
            <p class="text-secondary">14/11/2018</p>
            <a href=""><h6>KHI THẦY CÔ KHÔNG CHỈ DẠY, MÀ CÒN LÀ NGƯỜI TRUYỀN CẢM HỨNG.</h6></a>
          </div>
          <div class="col-md-4">
            <div class="zoom-effect-container">
              <img src="img/news.jpg" style="max-width: 400px;" class="zoom-effect">

            </div>
            <p class="text-secondary">14/11/2018</p>
            <a href=""><h6>KHI THẦY CÔ KHÔNG CHỈ DẠY, MÀ CÒN LÀ NGƯỜI TRUYỀN CẢM HỨNG.</h6></a>
          </div>
          <div class="col-md-4">
            <div class="zoom-effect-container">
              <img src="img/news.jpg" style="max-width: 400px;" class="zoom-effect">

            </div>
            <p class="text-secondary">14/11/2018</p>
            <a href=""><h6>KHI THẦY CÔ KHÔNG CHỈ DẠY, MÀ CÒN LÀ NGƯỜI TRUYỀN CẢM HỨNG.</h6></a>
          </div>

          <h5 class="mt-5 pb-2">Có thể bạn thích</h5>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="img/new.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">MÙA CƯỚI TỚI RỒI: HÃY ĐỂ GIÀY CỦA TÔI GIÚP BẠN TRỞ THÀNH MỘT CHÚ RỂ HOÀN HẢO NHẤT.</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <div class="small">
                            <img src="img/user.jpg" width="40" class="rounded-circle">
                            Tan Phuoc
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="img/new.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">MÙA CƯỚI TỚI RỒI: HÃY ĐỂ GIÀY CỦA TÔI GIÚP BẠN TRỞ THÀNH MỘT CHÚ RỂ HOÀN HẢO NHẤT.</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <div class="small">
                            <img src="img/user.jpg" width="40" class="rounded-circle">
                            Tan Phuoc
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="img/new.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">MÙA CƯỚI TỚI RỒI: HÃY ĐỂ GIÀY CỦA TÔI GIÚP BẠN TRỞ THÀNH MỘT CHÚ RỂ HOÀN HẢO NHẤT.</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <div class="small">
                            <img src="img/user.jpg" width="40" class="rounded-circle">
                            Tan Phuoc
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
      </div>
    <div class="row">
        <h3>tin tuc</h3>
            <div ng-repeat="tt in dsTT" class="col-md-3">
                <div class="card shadow border-0 hover-trigger">
                    <div class="position-relative">
                        <div class="badge-top">
                            #{{$index+1}}
                        </div>
                        <img src="public/img/{{tt.image}}" class="card-img-top">
                        <a href="#!news/{{tt.id}}"
                            class="show-hover btn btn-light position-absolute end-0 bottom-0 rounded-pill mb-3 me-3">
                            chi tiết</a>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">{{tt.title}}</h5>
                        <div class="text-warning mb-3 mt-4 d-flex align-items-center">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span class="text-dark ms-2">{{tt.views}}</span>
                        </div>
                        <p class="card-text">{{tt.content}}</p>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="" ng-click="showTinTuc(tt)">xem them</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-3">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-3" id="exampleModalLabel">{{modal.title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">{{modal.content}}</div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
    </div>
</div>